[Unit]
Description=gitops-agent: A simple GitOps Agent to help you manage code + config locally on on-premise servers
After=network.target

[Service]
Type=simple
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
ExecStartPre=python3 -m pip install --upgrade --force-reinstall --no-deps git+https://github.com/rsnk96/gitops-agent
ExecStart=gitops-agent

[Install]
WantedBy=multi-user.target

